
a.exe
debug.bat
WindowsAppSpeedrun.exe
.vs/WAS/v16/.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
*.pdb
*.exe
*.recipe
*.ilk
*.log
*.tlog
Debug/WAS.vcxproj.FileListAbsolute.txt
*.obj
src/.vs/WAS/v16/.suo
